.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

h1 {
    margin-top: 20px;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #13b4ca;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}

button {
    width: 140px;
}

.tab-content.p-b-3 {
    background-color: #fff;
}
