<div class="container">
    <div class="row m-y-2">
        <div class="col-lg-12 push-lg-4">
            <!--header info-->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Thông tin của tôi</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Chỉnh sửa</a>
                </li>
            </ul>
            <!--end header-->

            <!-- content -->
            <div class="tab-content p-b-3">

                <!--tab view profile-->
                <div class="tab-pane active" id="profile">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Họ và tên</h6>
                            <p>
                                {{staff.name}}
                            </p>
                            <h6>Email</h6>
                            <p>
                                {{staff.email}}
                            </p>
                            <h6>Địa chỉ</h6>
                            <p>
                                183 Quách Thị Trang
                            </p>
                            <h6>Công ty</h6>
                            <p>
                                Công ty TNHH IzisoftWare
                            </p>
                        </div>

                        <!--model-->
                        <div class="col-md-6">
                            <img [src]="staff.img" width="225px" class="m-x-auto img-fluid img-circle" alt="avatar">
                            <label class="custom-file">
                          <div class="form-group">
                            <input type="text" class="form-control w-50 mt-3"  [(ngModel)]="staff.img" id="usr">
                        </div>
                        <input type="submit" value="Đăng ảnh" class="btn btn-success" (click)="onUploadImgClick()" />
                        </label>
                        </div>
                    </div>
                </div>

                <!--tab edit profile-->
                <div class="tab-pane" id="edit">
                    <h4 class="m-y-2">Chỉnh sửa thông tin</h4>
                    <form role="form" [formGroup]="form">

                        <!-- start name-->
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Họ và tên</label>
                            <div class="col-lg-9">
                                <input [(ngModel)]="staff.name" type="text" formControlName="name" class="form-control" placeholder="Họ và tên..." i18n>
                            </div>
                        </div>
                        <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)" class="alert alert-danger">
                            <div *ngIf="form.controls['name'].errors.required" i18n>
                                Bắt buộc nhập trường này
                            </div>
                            <div *ngIf="form.controls['name'].errors.maxlength" i18n>
                                Bạn không được nhập quá 100 ký tự
                            </div>
                            <div *ngIf="form.controls['name'].errors.minlength" i18n>
                                Bạn vui lòng nhập ít nhất 5 ký tự
                            </div>
                        </div>
                        <!--end name-->

                        <!--start email-->
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                            <div class="col-lg-9">
                                <input [(ngModel)]="staff.email" type="email" class="form-control" formControlName="email" placeholder="Email..." i18n>
                            </div>
                        </div>
                        <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)" class="alert alert-danger">
                            <div *ngIf="form.controls['email'].errors.required" i18n>
                                Bắt buộc nhập trường này
                            </div>
                            <div *ngIf="form.controls['email'].errors.maxlength" i18n>
                                Bạn không được nhập quá 255 ký tự
                            </div>
                            <div *ngIf="form.controls['email'].errors.email" i18n>
                                Bạn phải nhập đúng định dạng email
                            </div>
                        </div>
                        <!--end email-->

                        <!--company-->
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Company</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" placeholder="Nhập tên công ty...">
                            </div>
                        </div>

                        <!--address-->
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Address</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" placeholder="Địa chỉ...">
                            </div>
                        </div>

                        <!--model-->
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="button" class="btn btn-primary" (click)="onBtnUpdateClick()" value="Sửa thông tin">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--end content-->
        </div>
    </div>
</div>
<hr>