.example-full-width {
    width: 100%;
}

.mr-20 {
    margin-right: 20px;
}

.title-block {
    background: linear-gradient(88deg, #13b4ca, #18cabe);
    color: #fff;
    font-size: 18px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.title-main {
    p {
        margin-bottom: 0px;
        font-size: 15px;
    }
}

.custom-border {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 15px;
}

.custom-overflow {
    // overflow-y: auto;
}

.w-40 {
    width: 200px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-button-row button,
.example-button-row a {
    margin-right: 8px;
}

.system-custom {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all 0.2s;
    margin-bottom: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.button-system-custom {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.button-system-custom-footer {
    box-shadow: none;
    border-bottom: 1px solid #e2e2e2;
}

.title-header-crud {
    box-shadow: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.button-system-custom-after {
    border-radius: 0px;
}

.button-filter {
    padding: 6px 33px;
    background: linear-gradient(88deg, #13b4ca, #18cabe);
    color: #2bbbad;
}

.contain-button-filter {
    padding-top: 8px;
}

th {
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.7px;
}

.mat-header-row {
    background: linear-gradient(88deg, #13b4ca, #18cabe);
    text-transform: uppercase;
    height: 50px;
}

tr.mat-row:hover {
    background: #e0f2f1;
}

.example-form.form-sort {
    max-width: 65px !important;
    min-width: 65px !important;
}

.text-red {
    color: #ff0000;
    font-size: 17px;
}

.mh-50 {
    min-height: 60px;
}

.btn-filter {
    background: linear-gradient(88deg, #13b4ca, #18cabe);
}

// dialog
.border-dialog {
    border-color: #15bec4 !important;
    box-shadow: none;
    overflow-y: scroll;
    max-height: 400px;
    height: 330px;
    width: 100%;
}

.title-dialog {
    background: linear-gradient(88deg, #13b4ca, #18cabe);
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    &:hover {
        background: linear-gradient(88deg, #648a8f, #11dbcd);
    }
    h5 {
        margin-bottom: 0px;
    }
}

.mat-dialog-container#mat-dialog-0 {
    margin-top: 30px;
}

button {
    width: 140px;
}

::ng-deep {
    .custom-dialog>mat-dialog-container {
        margin-top: 40px;
    }
}

@media screen and (max-width: 450px) {
    th.mat-header-cell:first-of-type,
    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type {
        padding: 5px;
        text-align: center;
    }
    table.mat-table.cdk-table.mat-sort.mat-elevation-z8.grid-data-custom {
        text-align: center;
    }
    button {
        width: 100px;
        font-size: 8px;
    }
    .respon {
        width: 115px;
    }
}
