<div class="text-center title-dialog" role="alert">
    <h5 class=" text-uppercase font-weight-bolder" i18n>Thông tin lớp</h5>
</div>
<mat-card class="border border-dialog">
    <mat-card-content class="custom-overflow">
        <div class="row">
            <form [formGroup]="form" class="col-md-12">
                <div class="row">

                    <!-- name field -->
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <mat-label i18n>Tên <span class="text-red">*</span></mat-label>
                            <input matInput [(ngModel)]="input.name" formControlName="name">
                        </mat-form-field>
                        <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)" class="alert alert-danger">
                            <div *ngIf="form.controls['name'].errors.required" i18n>
                                Bắt buộc nhập trường này
                            </div>
                            <div *ngIf="form.controls['name'].errors.maxlength" i18n>
                                Bạn không được nhập quá 100 ký tự
                            </div>
                            <div *ngIf="form.controls['name'].errors.minlength" i18n>
                                Bạn vui lòng nhập ít nhất 5 ký tự
                            </div>
                        </div>
                    </div>

                    <!-- address field -->
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <mat-label i18n>Địa chỉ <span class="text-red">*</span></mat-label>
                            <input matInput [(ngModel)]="input.address" formControlName="address">
                        </mat-form-field>
                        <div *ngIf="form.controls['address'].invalid && (form.controls['address'].dirty || form.controls['address'].touched)" class="alert alert-danger">
                            <div *ngIf="form.controls['address'].errors.required" i18n>
                                Bắt buộc nhập trường này
                            </div>
                            <div *ngIf="form.controls['address'].errors.maxlength" i18n>
                                Bạn không được nhập quá 255 ký tự
                            </div>
                            <div *ngIf="form.controls['address'].errors.minlength" i18n>
                                Bạn vui lòng nhập ít nhất 5 ký tự
                            </div>
                        </div>
                    </div>

                    <!-- createdate field -->
                    <div class="col-md-12">
                        <mat-form-field appearance="fill">
                            <mat-label i18n>Ngày tạo <span class="text-red">*</span></mat-label>
                            <input matInput [(ngModel)]="input.createdate" formControlName="createdate" [matDatepicker]="dp" [formControl]="date">
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <!-- amount field -->
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <mat-label i18n>Tổng số <span class="text-red">*</span></mat-label>
                            <input matInput [(ngModel)]="input.amount" formControlName="amount">
                        </mat-form-field>
                        <div *ngIf="form.controls['amount'].invalid && (form.controls['amount'].dirty || form.controls['amount'].touched)" class="alert alert-danger">
                            <div *ngIf="form.controls['amount'].errors.required" i18n>
                                Bắt buộc nhập trường này
                            </div>
                            <div *ngIf="form.controls['amount'].errors.maxlength" i18n>
                                Bạn không được nhập quá 255 ký tự
                            </div>
                        </div>
                    </div>

                    <!-- price field -->
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <mat-label i18n>Phí <span class="text-red">*</span></mat-label>
                            <input matInput [(ngModel)]="input.price" formControlName="price">
                        </mat-form-field>
                        <div *ngIf="form.controls['price'].invalid && (form.controls['price'].dirty || form.controls['price'].touched)" class="alert alert-danger">
                            <div *ngIf="form.controls['price'].errors.required" i18n>
                                Bắt buộc nhập trường này
                            </div>
                            <div *ngIf="form.controls['price'].errors.maxlength" i18n>
                                Bạn không được nhập quá 255 ký tự
                            </div>
                            <div *ngIf="form.controls['price'].errors.minlength" i18n>
                                Bạn không được nhập dưới 100.000 VND
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>

<!--Modal -->
<div class="text-center" style="margin-top: 10px;">
    <button type="button" cdkFocusInitial (click)="onBtnClick()" class="btn btn-success btn-fw mr-3 respon" i18n><i
                    class="fa fa-check"></i> Đồng  ý</button>
    <button class="btn btn-warning custom-margin-button respon" [mat-dialog-close]="data.animal" i18n> <i
                    class="fa fa-times"></i> Đóng</button>
</div>