<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p i18n>Quản Lý Nhân Viên</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Nhập từ khóa bạn cần tìm...">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <div class="example-button-row contain-button-filter">
                <button type="button" class="btn btn-success btn-filter" i18n><i class="fa fa-filter"></i>Lọc</button>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</mat-card>
<!--  end select-top -->

<!-- button crud -->
<mat-card class="button-system-custom title-header-crud">
    <div class="row">
        <div class="col-md-12" *ngIf="isPerMissionMenu3">
            <button type="button" class="btn btn-primary d-inline-block mr-3" i18n><i
                    class="fa fa-check"></i> Duyệt</button>
            <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#exampleModal" i18n><i
                    class="mdi mdi-delete"></i>Xóa</button>
        </div>
    </div>
</mat-card>
<!-- end button crud-->

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 grid-data-custom">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef class="check-custom">
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-40" i18n> Tên </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- address Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- created date Column -->
        <ng-container matColumnDef="created_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Ngày Tạo</th>
            <td mat-cell *matCellDef="let element"> {{element.created_date| date: 'dd-MM-yyyy'}} </td>
        </ng-container>

        <!-- edit -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef i18n style="text-transform:capitalize">Chỉnh sửa</th>
            <td mat-cell *matCellDef="let row">
                <i style="cursor: pointer;" *ngIf="isPerMissionMenu3" (click)="onUpdateData(row)" class="icon-note icon-update" title="Sửa"></i>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="example-element-row" *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20, 40]" showFirstLastButtons></mat-paginator>
</div>

<!-- Accuracy delete -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span style="color:red">XÁC THỰC XÓA HỒ SƠ</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                Bạn có thực sự muốn xóa những hồ sơ này? Quá trình này không thể được hoàn tác.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" (click)="onBtnDelClick()" data-dismiss="modal">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
