<div>
    <!-- Thông tin tài khoản -->
    <mat-card class="title-block col-md-12">
        <div class="row">
            <div class="col-md-12 title-main">
                <p i18n>Thay đổi mật khẩu</p>
            </div>
        </div>
    </mat-card>
    <mat-card class="system-custom col-md-12">
        <div class="row">
            <div class="col-md-12 title-main">

                <!-- start form -->
                <form [formGroup]="form">

                    <!--password old-->
                    <div class="example-container ">
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label i18n>Nhập mật khẩu cũ</mat-label>
                            <input formControlName="password" [(ngModel)]="oldpassword" matInput [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="button-password">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['password'].errors.required" i18n>
                                Bạn phải nhập mật khẩu cũ
                            </div>
                            <div *ngIf="form.controls['password'].errors.maxlength" i18n>
                                Mật khẩu không quá 50 ký tự
                            </div>
                        </div>
                    </div>

                    <!--password new-->
                    <div class="example-container">
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label i18n>Nhập mật khẩu mới</mat-label>
                            <input formControlName="newpassword" [(ngModel)]="newpassword" matInput [type]="hide1 ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1" class="button-password">
                                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <div *ngIf="form.controls['newpassword'].invalid && (form.controls['newpassword'].dirty || form.controls['newpassword'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['newpassword'].errors.required" i18n>
                                Bạn phải nhập mật khẩu mới
                            </div>
                            <div *ngIf="form.controls['newpassword'].errors.maxlength" i18n>
                                Mật khẩu không quá 50 ký tự
                            </div>
                            <div *ngIf="form.controls['newpassword'].errors.minlength" i18n>
                                Mật khẩu ít nhất 8 ký tự
                            </div>
                        </div>
                    </div>

                    <!--repassword new -->
                    <div class="example-container">
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label i18n>Nhập lại mật khẩu</mat-label>
                            <input formControlName="repassword" [(ngModel)]="repassword" matInput [type]="hide2 ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2" class="button-password">
                                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <div *ngIf="form.controls['repassword'].invalid && (form.controls['repassword'].dirty || form.controls['repassword'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['repassword'].errors.required" i18n>
                                Bạn phải nhập mật khẩu mới
                            </div>
                            <div *ngIf="form.controls['repassword'].errors.maxlength" i18n>
                                Mật khẩu không quá 50 ký tự
                            </div>
                            <div *ngIf="form.controls['repassword'].errors.minlength" i18n>
                                Mật khẩu ít nhất 8 ký tự
                            </div>
                            <div *ngIf="form.controls['repassword'].errors.mustMatch" i18n>
                                Hai mật khẩu chưa khớp vui lòng nhập lại
                            </div>
                        </div>
                    </div>

                </form>

                <!--Modal -->
                <div class="text-center" style="margin-top: 10px;">
                    <button cdkFocusInitial (click)="onChangePassClick()" class="btn btn-success btn-fw mr-3 button" i18n>
                    <i class="fa fa-check"></i>
                       Đồng  ý</button>
                    <button class="btn btn-warning custom-margin-button button" (click)="onBtnCancel()" i18n> <i
                    class="fa fa-times"></i> Đóng</button>
                </div>
            </div>
        </div>
    </mat-card>
    <!-- end Thông tin tài khoản -->
</div>
