<div class=" text-center title-dialog" role="alert">
    <h5 class="text-uppercase font-weight-bolder" i18n>Thông tin người dùng</h5>
</div>
<mat-card class="border border-dialog">

    <mat-card-content class="custom-overflow">
        <form [formGroup]="form" class="col-md-12">
            <div class="row">

                <!-- name field -->
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <mat-label i18n>Tên <span class="text-red">*</span></mat-label>
                        <input matInput [(ngModel)]="input.name" formControlName="name">
                    </mat-form-field>
                    <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['name'].errors.required" i18n>
                            Bắt buộc nhập trường này
                        </div>
                        <div *ngIf="form.controls['name'].errors.maxlength" i18n>
                            Bạn không được nhập quá 100 ký tự
                        </div>
                        <div *ngIf="form.controls['name'].errors.minlength" i18n>
                            Bạn vui lòng nhập ít nhất 5 ký tự
                        </div>
                    </div>
                </div>

                <!-- address field -->
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <mat-label i18n>Địa chỉ <span class="text-red">*</span></mat-label>
                        <input matInput [(ngModel)]="input.address" formControlName="address">
                    </mat-form-field>
                    <div *ngIf="form.controls['address'].invalid && (form.controls['address'].dirty || form.controls['address'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['address'].errors.required" i18n>
                            Bắt buộc nhập trường này
                        </div>
                        <div *ngIf="form.controls['address'].errors.maxlength" i18n>
                            Bạn không được nhập quá 255 ký tự
                        </div>
                        <div *ngIf="form.controls['address'].errors.minlength" i18n>
                            Bạn vui lòng nhập ít nhất 5 ký tự
                        </div>
                    </div>
                </div>

                <!-- sex field -->
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <mat-label i18n>Giới Tính <span class="text-red">*</span></mat-label>
                        <mat-select formControlName="sex" [(ngModel)]="input.sex">
                            <mat-option *ngFor="let sex of sexs " [value]="sex.value">
                                {{sex.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div *ngIf="form.controls['sex'].invalid && (form.controls['sex'].dirty || form.controls['sex'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['sex'].errors.required" i18n>
                            Bắt buộc nhập trường này
                        </div>
                    </div>
                </div>

                <!-- idlop field -->
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <mat-label i18n>Id lớp <span class="text-red">*</span></mat-label>
                        <input matInput [(ngModel)]="input.idlop" formControlName="idlop">
                    </mat-form-field>
                    <div *ngIf="form.controls['idlop'].invalid && (form.controls['idlop'].dirty || form.controls['idlop'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['idlop'].errors.required" i18n>
                            Bắt buộc nhập trường này
                        </div>
                        <div *ngIf="form.controls['idlop'].errors.maxlength" i18n>
                            Bạn không được nhập quá 100 ký tự
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </mat-card-content>
</mat-card>

<!--Modal -->
<div class="text-center " style="margin-top:10px">
    <button type="button" cdkFocusInitial (click)="onBtnClick()" class="btn btn-success btn-fw mr-3 repon" i18n> <i
                    class="fa fa-check"></i> Đồng  ý</button>
    <button class="btn btn-warning custom-margin-button repon" [mat-dialog-close]="data.animal" i18n> <i
                    class="fa fa-times"></i> Đóng</button>
</div>